:root {
    --primary-font: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -------header section start----- */
.header {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    height: 60vh;
    width: 70%;
    background-color: black;
    border-radius: 10px;
    display: flex;
    padding: 50px;

}

.card-title>h1 {
    margin-bottom: 15px;
}

.card-text {
    height: 100%;
    width: 50%;
    color: aliceblue;
    font-family: var(--primary-font);
    background-color: black
}

.card-img {
    height: 117%;
    width: 50%;
    background-color: black
}

.btn {
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #DD0000;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.card-img>img {
    height: 100%;
    width: 100%;
    object-position: left;
}

/* ----------header section End---------- */

/* _________Blog section start _________*/
.Blog {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.Icon {
    height: 20vh;
    padding: 40px;
    background-color: black;
    border-radius: 5px;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
}

.bton {
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #DD0000;
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
}

/* _________Blog section start _________*/
/* _________Blog section start _________*/


/* _______footer section start_______ */


.footer .footer-col-1 {
    background: black;
    font-size: 14px;
    padding: 40px 0 20px;
    color: aliceblue;
    text-align: center;
    margin-bottom: 1px;

}

.footer-col-2 {
    background: black;
    color: aliceblue;
    text-align: center;

}

/* _______footer section end_______ */

@media only screen and(max-width:688px) {
    .header {
        background-color: blue;
    }

}