:root {
    --primary-font: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -------header section start----- */
.header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    height: 60vh;
    width: 70%;
    background-color: black;
    border-radius: 10px;
    display: flex;
    padding: 50px;

}

.card-title>h1 {
    margin-bottom: 15px;
}

.card-text {
    height: 100%;
    width: 50%;
    color: aliceblue;
    font-family: var(--primary-font);
    background-color: black
}

.card-img {
    height: 117%;
    width: 50%;
    background-color: black
}

.btn {
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #DD0000;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.card-img>img {
    height: 100%;
    width: 100%;
    object-position: left;
}